<div class="products-page">

    <br>
    <h1> CoderHouse - Comision 53120 </h1>
    <h2>Proyecto Backend - Alumno: Jean Michell Canache</h2>
    <h2>Bienvenido a la KuiKi-Store</h2>

    <div class="product-list">

        <div class="product card" style="width: 19rem;">

            <img src="/static/img/backend-pulpo.png" alt="...">

        </div>

    </div>

    <div class="product-list">

        <div style="margin-bottom: 24px;">
            <a class="btn btn-primary" href="/register">Registro de Usuario </a>
        </div>

        <div style="margin-bottom: 24px;">
            <a  class="btn btn-primary" href="/login"> Login de Usuario </a>
        </div>

    </div>

</div>