

<style>
    .login-container {
        max-width: 360px;
        margin: auto;
        margin-top: 64px;
        padding: 32px;
        border-radius: 0.5em;
        border: 1px solid #bbb;
        background-color: #ccc;
    }

    .btn-100 {
        width: 100%;
        margin-bottom: 0.5em;
    }

    .a2 {
        color: #333;
    }

    .a2:hover {
        color: #000;
    }

    <style>.login-container {
        max-width: 360px;
        margin: auto;
        margin-top: 64px;
    }
</style>


<div class="login-container">
    <h1><b>Registro de Usuario</b></h1>
    
    <form action="/api/users/register" method="post" style="margin-top: 32px;">

        <div class="input-group" style="width: 300px; margin-bottom: 12px;">
            <span class="input-group-text" id="group1"><i class="fa-solid fa-user mc-input-icon"></i></span>
            <input type="text" name="first_name" class="form-control" placeholder="Nombres" required="required">
        </div>

        <div class="input-group" style="width: 300px; margin-bottom: 12px;">
            <span class="input-group-text" id="group2"><i class="fa-solid fa-user mc-input-icon"></i></span>
            <input type="text" name="last_name" class="form-control {{#if errors.last_name}}is-invalid{{/if}}" placeholder="Apellidos" required="required">
            {{#if errors.last_name}}
            <div class="invalid-feedback">
                This is a required field
            </div>
            {{/if}}
        </div>

        <div class="input-group" style="width: 300px; margin-bottom: 12px;">
            <span class="input-group-text" id="group3"><i class="fa-solid fa-envelope mc-input-icon"></i></span>
            <input type="email" name="email" class="form-control {{#if errors.repeated}}is-invalid{{/if}}" placeholder="Email" required="required">
            {{#if errors.repeated}}
            <div class="invalid-feedback">
                El email esta repetido
            </div>
            {{/if}}
        </div>

        <div class="input-group" style="width: 300px; margin-bottom: 12px;">
            <span class="input-group-text" id="group4"><i class="fa-solid fa-lock mc-input-icon"></i></span>
            <input type="password" name="password" class="form-control" placeholder="Password" required="required">
        </div>

        <button type="submit" class="btn btn-success">Enviar</button>

    </form>
</div>